<header class="s-header">

    <div class="header-logo">
        <a class="site-logo" href="/Default/Index"><img src="/files/logo-3.png" style="margin-top: 10px;width: 40px;height: 40px;" alt="Homepage"></a>
    </div>

    <nav class="header-nav-wrap">
        <ul class="header-nav">
            <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
            <li><a class="smoothscroll"  href="#about" title="about">About</a></li>
            <li><a class="smoothscroll"  href="#works" title="works">Projects</a></li>
            @* <li><a class="smoothscroll"  href="#blog" title="blog">Blog</a></li> *@
            <li><a class="smoothscroll"  href="#contact" title="contact">Contact</a></li>
        </ul>
    </nav>

    <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

</header> <!-- end s-header -->