@{
    ViewData["Title"] = "Inbox";
    Layout = "_AdminLayout";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Message List</h4>
            <div class="table-responsive">
                <table class="table" id="allMessagesTable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Sender</th>
                        <th>Subject</th>
                        <th>Send Date</th>
                        <th>Open Message</th>
                        <th>Status</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@* Mesaj detayları için modal *@
<div class="modal fade" id="message-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5" id="modalTitle">Message Detail</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="NameSurname" class="col-form-label">Name Surname:</label>
                            <input hidden type="text" class="form-control" id="MessageId">
                            <input type="text" class="form-control bg-gradient-secondary" id="NameSurname">
                        </div>
                        <div class="col-6 mb-3">
                            <label for="message-text" class="col-form-label">Subject:</label>
                            <input class="form-control" id="Subject">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-3">
                            <label for="message-text" class="col-form-label">Email:</label>
                            <input class="form-control" id="Email">
                        </div>
                        <div class="col-6 mb-3">
                            <label for="message-text" class="col-form-label">Send Date:</label>
                            <input class="form-control" id="SendDate"></input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label for="message-text" class="col-form-label">Message Detail:</label>
                            <textarea rows="10" class="form-control" id="MessageDetail"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button onclick="closeModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/jquery-3.7.1.min.js"></script>

<script>
    var allMessageList = null;
    
    $(document).ready( function (){
        $("#allMessagesTable").DataTable({
        "dom": "Tit",
        columnDefs: [{
            "defaultContent": "*",
            "targets":"_all"
        }],
        "responsive": true,
        "language": {
            "emptyTable": "Gösterilecek veri yok",
            "processing": "Veriler yükleniyor",
            "sInfo": "<span class='text-white'>_TOTAL_ kayıttan _START_-_END_ arasındaki kayıtlar gösteriliyor</span>",
            "sLoadingRecords": "Yükleniyor...",
            "sZeroRecords": "Eşleşen Kayıt bulunamadı",
            "oAria": {
                "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                },
            }
            
        });
        
        refreshTable();
    });
    
    function refreshTable(){
        $.ajax({
            url: '@Url.Action("GetAllMessages", "Message")',
            type: 'GET',
            success: function (data){
                if (data.code == 200){
                    var table = $("#allMessagesTable").DataTable();
                    table.clear().draw();
                    allMessageList = data.messageList;
                    data.messageList.forEach(function (item){
                        var status = item.isRead 
                        ? '<button onclick="updateStatus(this)" data-id="'+item.messageId+'" class="btn btn-danger">Mark Unread</button>'
                        : '<button onclick="updateStatus(this)" data-id="'+item.messageId+'" class="btn btn-success">Mark Read</button>';
                         
                    var rows = table.row.add([
                            item.messageId,
                            item.nameSurname,
                            item.subject,
                            getDateFromLongDate(item.sendDate) +" "+ getTimeFromLongTime(item.sendDate),
                            '<button onclick="goMessageDetail(this)" data-id="' +item.messageId + '"  class="btn btn-primary">Message Detail</button>',
                            status,
                            '<a class="btn btn-danger">Sil</a>'
                        ]).draw();
                    });
                }
                else{
                // toastr.error(data.message);
                }
                
            },
            error: function (xhr, status, error){
                console.error("Mesajlar yüklenemedi:", status, error);
                alert("Mesajlar yüklenemedi: " + error);
            } 
            
        });
    }
    
    function goMessageDetail(value){
        var data = value.dataset.id;
        
        if (data == 0) {
            $("#modalTitle").text("Yeni mesaj Ekleme")
        }
        if (data != 0){
            
            var message = allMessageList.filter( function (item){
                return item.messageId == data;
            });
            
            setModal(message[0]);
        }
        $("#message-modal").modal('show');
    }


    
// modal kapama
    function closeModal(){
    $("#message-modal").modal('hide');
    }
    
    // modal ayarlama
    function setModal(data){
        $("#MessageId").val(data.messageId);
        $("#NameSurname").val(data.nameSurname);
        $("#Subject").val(data.subject);
        $("#Email").val(data.email);
        $("#MessageDetail").val(data.messageDetail);
        $("#SendDate").val(getDateFromLongDate(data.sendDate)+" "+getTimeFromLongTime(data.sendDate));
        $("#IsRead").val(data.isRead);
    }
    
    function updateStatus(value){
        var MessageId = value.dataset.id;
        

        // eğer güncellemeye basıldıysa tüm bilgileri al
        // yeni bir entity gönder bir nevi günncelleme 
        // bunu araştır sadece bir özellik güncelleneceğinde nasıl yapılabilir.

        $.ajax({
            url: "@Url.Action("UpdateMessage", "Message")",
            type: 'POST',
            data: {'id': MessageId },
            success: function (data){
                if (data.code == 200){
                    var message = data.message;
                    refreshTable();
                }
            }
        })
    }
     

</script>