<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Alper Karaca</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/hola-master/css/base.css">
    <link rel="stylesheet" href="~/hola-master/css/vendor.css">
    <link rel="stylesheet" href="~/hola-master/css/main.css">

    <!-- script
    ================================================== -->
    <script src="~/hola-master/js/modernizr.js"></script>
    <script src="~/hola-master/js/pace.min.js"></script>
    
    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="/files/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/files/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/files/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/files/favicon_io/site.webmanifest">

</head>